* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFEDFA;
}

header {
    background-image: url("/imagenes/portada.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: start; /* Centra verticalmente los elementos */
    justify-content: space-between;
    height: 7rem;
}

header img{
    background-color: #27667B;
    width: 100px;
    height: 50px;
}

/*Contenedor que tiene el menu de navegación*/
#nav {
    display: flex;
    margin-left: auto; /* Empuja el nav hacia la derecha */
    align-items: center;
    border: 1px solid black; /*grosor borde 1 px, linea continua solida, color negra*/
}

/*Estilo Menú de Navegación*/
.menu ul {
    /*indica la capacidad de un elemento flexible para alterar sus dimensiones 
	y llenar el espacio disponible, los va a poner horizontalmente */
    display: flex; /*SI CORRER*/
    list-style: none; /*quita el estilo de las <ul>*/
    font-family: Century Gothic;
    font-size: 15px;
    font-weight: bold;
    background-color: #27667B;
    padding: 5px 5px;
}

.menu a {
    /*border: 1px solid black;*/
    display: block;
    border-radius: 10px;
    padding: 10px;
    /* background-color: #0cad68;*/
    text-decoration: none; /*quitar la linea y el color hiperviculo*/
    color: #DDEB9D;
}

    .menu a:hover {
        background-color: #143D60;
    }

.Titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #143D60;
    margin-top: 20px;
}

.Titulo hr{
    width: 30%;
    height: 5px;
    border: none;
    background-color: #143D60;
    margin: auto;
}
.Titulo h1{
    font-size: 60px;
}

#Subtitulo{
    text-align: center;
    color: #27667B;
}

.contenido{
  margin: 20px;
}

.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: 8rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
    margin: auto;
  }
  
  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }

/*=======FOOTER*/
footer {
    clear: both;
    background-color: #27667B;
    color: white;
    padding: 10px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
/*FIN FOOTER*/

/*ESTILO ANCLA*/
.ancla {
    font-family: century Gothic;
    color: white;
    font-weight: bold;
}

    .ancla:visited {
        color: skyblue;
    }